@font-face {
    font-family: 'Silkscreen';
    src: url('../fonts/Silkscreen-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #456;
    color: #123;
    font-family: 'Silkscreen', cursive;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
    font-size: 3.5vh;
    margin: 0;
    text-shadow: 2px 2px 0 #123;
}

h2,
h3 {
    margin: 0;
    font-size: 3vh;
    text-shadow: 2px 2px 0 #123;
}

.container {
    max-width: 90vw;
    max-height: 90vh;
}

.matrix {
    aspect-ratio: 1;
    background-color: #123;
    position: relative;
}

.pixel {
    aspect-ratio: 1;
    cursor: crosshair;
}

.pixel:hover {
    background-color: #fff;
}

#grille {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.rules {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2.25vh;
}

#scores {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: end;
    position: absolute;
    top: 0;
    left: 0;
    translate: calc(-100% - 1rem);
}

#scores p {
    color: #fff;
    background-color: transparent;
    transition: 500ms;
}

#scores p.last_round {
    color: #123;
    background-color: #fc2;
}

#difficulty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    color: #fff;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 65%;
    height: 3vh;
    border: .6vh solid #fff;
    background-color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 3vh;
    width: 3vh;
    background-color: #fc2;
}

input[type=range]::-moz-range-thumb {
    height: 3vh;
    width: 3vh;
    background-color: #fc2;
    border: 0;
    border-radius: 0;
}

input[type=range]::-moz-range-progress {
    height: 100%;
    background-color: #fc2;
}