<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.lesacteursduweb.jonathan" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SuperSpeedPixelPainting3000</name>
    <description>Une première tentative d'application mobile Android à partir du projet SuperSpeedPixelPainting3000</description>
    <author email="jonathan.pchs@gmail.com" href="https://jonathan.lesacteursduweb.fr/">
        Jonathan PAIN-CHAMMING'S
    </author>
    <content src="pixel.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
